.containerHero {
  display: flex;
  flex-direction: column;
  padding: 50px 32px;
  min-width: 320px;
  width: 375px;
  width: 100%;
  height: 100vh;
  text-align: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(228, 72, 72, 0.2);
  background-image: url('../../assets/nature.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 90%;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: var(--accent-second-color);
}

.subtitle {
  font-size: 30px;
  font-weight: 600;
  color: var(--main-color);
  text-shadow: 2px 2px 4px rgba(234, 178, 196, 0.5);
}

.bookLink {
  border: 2px solid var(--accent-color);
  background-color: transparent;
  padding: 12px 18px;
  border-radius: 200px;
  font-weight: 700;
  font-size: 36px;
  color: var(--accent-second-color);
  transition: var(--anim);
}

.bookLink:focus-visible,
.bookLink:active {
  color: var(--main-color);
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .containerHero {
    width: 100%;
    padding: 100px 64px;
    background-size: cover;
  }

  .bookLink {
    padding: 12px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .bookLink:hover {
    color: var(--main-color);
    background-color: var(--accent-color);
  }
}
