.camperImage {
  width: 290px;
  height: 310px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.camperInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 526px;
  height: 310px;
}

.camperTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: var(--main-color);
  margin-bottom: 8px;
}

.camperTop {
  display: flex;
  flex-wrap: nowrap;
}

.addToFavorite {
  padding: 0 10px;
  background-color: transparent;
  border: none;
  transition: var(--anim);
}

.addToFavorite:hover .iconHeart {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

.iconHeart {
  width: 24px;
  height: 24px;
  fill: var(--main-white);
  stroke: var(--main-color);
}

.camperAddInfo {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-color);
}

.iconRating {
  width: 16px;
  height: 16px;
  fill: var(--add-color);
  stroke: var(--add-color);
  margin-right: 4px;
}

.camperRating,
.camperReviews {
  text-decoration: underline;
}

.iconMap {
  width: 16px;
  height: 16px;
  stroke: var(--main-color);
  fill: none;
  margin-left: 16px;
  margin-right: 4px;
}

.camperDescr {
  width: 525px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-color);
}

.camperPros {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--main-color);
}

.camperProsItem {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  padding: 12px 18px;
  height: 44px;
  background-color: var(--background-features);
}

.iconCamperItems {
  width: 20px;
  height: 20px;
}

.iconCamperItemsStroke {
  width: 20px;
  height: 20px;
  stroke: var(--main-color);
  fill: none;
}

.showMore {
  border-radius: 200px;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  background-color: var(--accent-color);
  border: none;
  color: var(--main-white);
  transition: var(--anim);
}

.showMore:hover {
  background-color: var(--accent-second-color);
}
