.reviewsListList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.reviewHeader {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.reviewerInitial {
  border-radius: 60px;
  width: 60px;
  height: 60px;
  background-color: var(--background-features);
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewerName {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--main-color);
  margin-bottom: 4px;
}

.iconRatingActive {
  width: 16px;
  height: 16px;
  stroke: var(--add-color);
  fill: var(--add-color);
}

.iconRatingNotActive {
  width: 16px;
  height: 16px;
  stroke: var(--background-features);
  fill: var(--background-features);
}

.reviewerComment {
  font-size: 16px;
  line-height: 24px;
  color: var(--second-color);
}
